{
  "optional": [
    "es7.decorators",
    "es7.objectRestSpread",
    "es7.classProperties"
  ],
  "env": {
    "start": {
      "plugins": [
        "react-transform"
],
      "extra": {
        "react-transform": {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            }
          ]
        }
      }
    }
  }
}
